<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    
    <system.runtime.remoting>
        <application>
            <service>
                <wellknown mode="SingleCall" type="Services.AuthenticationService, Services" objectUri="authentication" />
            </service>
            <channels>
    	        <channel ref="http" port="20000">
    	            <serverProviders>
    		            <formatter type="CookComputing.XmlRpc.XmlRpcServerFormatterSinkProvider, CookComputing.XmlRpcV2" />
    	            </serverProviders>
    	        </channel>
            </channels>
        </application>
    </system.runtime.remoting>

</configuration>